@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('./fonts/Avenir-Black.woff') format('woff');
}

@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/Avenir-Heavy.woff') format('woff');
}

@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/AvenirLTStd-Roman.woff') format('woff');
}

@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/Avenir-Book.woff') format('woff');
}

