@font-face {
  font-family: 'Poynter Oldstyle Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Poynter Oldstyle Display Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Poynter Oldstyle Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Poynter Oldstyle Display Semi Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Poynter Oldstyle Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Poynter Oldstyle Display Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Linotype - AvenirNextLTPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Linotype - AvenirNextLTPro-Medium.otf') format('opentyp');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Linotype - AvenirNextLTPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Linotype - AvenirNextLTPro-Light.otf') format('opentype');
}
